*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px;
    background-color: #a41fd5;
}
header .logo{
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    color: #ffffff;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
header ul li a:hover{
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
}